@charset "utf-8";

/* Info
   ========================================================================== */
/**
 * 1. Writer: Hyerin Lim. (Weaverloft Corp.)
 * 2. Production Date: 2023-04-25
 * 3. Client: Weaverloft UX
 */

/*========== Common ==========*/
.home-section-wrap {width: 1340px; margin: 30px auto 0; display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: flex-start;}
.home-section-wrap .left-sec-wrap{ width: 920px; }
.home-section-wrap .right-sec-wrap{ width: 390px; }
.home-sec { width: 100%; margin-bottom: 20px; padding: 16px 20px 20px; border-radius: 6px; border: 1px solid #E8E8F1; background-color: #fff; }
.half-sec-wrap{ display: flex; flex-flow: row nowrap; align-items: stretch; justify-content: space-between; gap: 20px; }
.sec-title-wrap { display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; }
.sec-title {font-size: 19px; font-weight: 700; color: #555;}

/*========== 주문 + 배송 Order Delivery Section ==========*/
.situation-sec {padding: 16px 0 20px;}
.situation-sec .sec-title-wrap {padding: 0 20px;}
.view-btn-wrap .btn { padding: 3px 9px; border-radius: 2px; background-color: #F3F3F9; font-size: 13px; font-weight: 500; color: #777; line-height: 1;}
.view-btn-wrap .btn.active { background-color: rgba(130,107,204,0.2); color: #826BCC;}

/*========== 상품 Go to Product Section ==========*/
.goto-product-sec{ padding: 18px 20px;}
.goto-product, .goto-product > li > a{ display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; gap: 14px; transition: opacity 300ms;}
.goto-product > li:not(.mid-line) { width: 50%;}
.goto-product > li > a:hover{ opacity: 0.7; transition: opacity 300ms;}
.goto-product > li > a span:nth-child(1){display: inline-block; width: calc(100% - 24px);}
.goto-product > li > a .goto-btn { display: inline-block; width: 24px; height: 24px; border-radius: 2px; background-color: #F3F3F9; background-image: url('../../img/admin/icon-arrow-next.svg'); background-position: center center; background-size: 80% 80%;}
.goto-product > li.mid-line{width: 1px; height: 18px; border-left: 1px dashed #ccc;}

/*========== 매출 Sales Section ==========*/
.sales-sec{ border: none; background-color: #A699F8; color: #fff;}

/*========== 재고 Inventory Section ==========*/
.inventory-contents > div { padding: 20px; border-radius: 6px; border: 1px solid #E8E8F1;}
.inventory-contents .inventory-tit{ font-size: 16px; font-weight: 700; color: #555;}
.inventory-contents > div.restock-req{ margin: 18px 0 10px;}
.inventory-con{ display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; margin-top: 14px;}
.inventory-con .inventory-img{ width: 45px; height: 45px; margin-right: 16px; border-radius: 6px; background-color: #EFEFEF; overflow: hidden;}
.inventory-con .inventory-detail {width: calc(100% - 61px);}
.inventory-con .inventory-detail li{ display: flex; flex-flow: row nowrap; align-items: baseline;  margin-bottom: 8px;}
.inventory-con .inventory-detail li:last-child {margin: 0;}
.inventory-con .inventory-detail li .sub-tit { display: flex; flex-flow: row nowrap; justify-content: space-between; width: 34px; height: 15px; margin-right: 10px; font-size: 13px; font-weight: 500; color: #777; }
.inventory-con .inventory-detail li .sub-tit ~ p{width: calc(100% - 44px); font-size: 15px; font-weight: 600; color: #777;}

/*========== 일정 Calendar Section ==========*/
/* calendar */
.calendar-wrap .calendar-head { display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; }
.calendar-head .month-btn-wrap {display: flex; flex-flow: row nowrap; gap: 7px;}
.calendar-head .month-btn-wrap .btn { width: 28px; height: 28px; padding: 4px; border-radius: 2px; background-color: #F3F3F9; transition: opacity 300ms;}
.calendar-head .month-btn-wrap .btn:hover { opacity: 0.7; transition: opacity 300ms;}
.calendar { padding: 18px 0 0; }
.calendar ul { display: flex; flex-wrap: wrap; text-align: center; }
.calendar ul li { width: calc(100% / 7); font-size: 13px; font-weight: 500; color: #777; line-height: 1;}
.calendar ul.weeks { background-color: #F3F3F9; border-radius: 2px; padding:7.5px 0; }
.calendar ul.weeks li{ font-weight: 700; color: #998FD4; cursor: default;}
.calendar ul.days li { position: relative; z-index: 1; display: flex; align-items: center; justify-content: center; height: 45px; cursor: pointer; }
.calendar ul.days li.inactive { opacity: 0.4; }
.calendar ul.days li.active { color: #fff; }
.calendar ul.days li::before { position: absolute; content: ""; left: 50%; top: 50%; height: 25px; width: 25px; z-index: -1; border-radius: 50%; transform: translate(-50%, -50%); }
.calendar ul.days li.active::before { background: #7446F6; }
.calendar ul.days li:not(.active):hover::before { background: #f2f2f2; }
/* schedule */
.schedule-wrap {margin-top: 16px; padding-top: 18px; border-top: 1px solid #E8E8F1;}
.schedule-head { display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; }
.schedule-head .title { font-size: 16px; font-weight: 600; color: #444; }
.schedule-head .schedule-add-btn { display: flex; flex-flow: row nowrap; align-items: center; gap: 4px; width: 50px; height: 23px; padding: 4px 8px; border-radius: 2px; background-color: #E6E1F5; white-space: nowrap; transition: opacity 300ms;}
.schedule-head .schedule-add-btn:hover { opacity: 0.7; transition: opacity 300ms;}
.schedule li { position: relative; display: flex; flex-flow: row nowrap; align-items: baseline; justify-content: flex-start; margin-top: 16px; padding-left: 14px; font-size: 13px; color: #777; }
.schedule li::before{ position: absolute; top: 6px; left: 3px; content: ''; display: inline-block; width: 4px; height: 4px; border-radius: 50%; background-color: #7446F6; }
.schedule li .date{display: inline-block; width: 42px; font-weight: 600; text-align: left;}
.schedule li .detail{ width: calc(100% - 64px);}
.schedule li .schedule-add-btn {width: 18px; height: 18px; margin-left: 4px;}

/*========== 이벤트 Event Section ==========*/
.event-sec { position: relative; }
.event-sec::before{position: absolute; top: 0; left: 0; right: 0; content: ''; width: 100%; height: 45%; background-color: #A699F8; border-top-left-radius: 6px; border-top-right-radius: 6px;}
.event-sec .sec-title{color: #fff;}
.event-sec .slide-control { display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; }
.event-sec .swiper-pagination {position: static; font-size: 13px; font-weight: 600; color: #777; border-radius: 2px; background-color: #F3F3F9; padding: 4.5px 12px; line-height: 1; white-space: nowrap;}
.event-sec .slide-control .btn-wrap { display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; gap: 4px; margin-left: 4px;}
.event-sec .swiper-button-next, .event-sec .swiper-button-prev {position: static; display: flex; align-items: center; width: 22px; height: 22px; margin: 0; padding: 4px; border-radius: 2px; background-color: #F3F3F9; transition: opacity 300ms; border-radius: 2px; background-color: #F3F3F9; background-image: none; }
.event-sec .swiper-button-next:hover, .event-sec .swiper-button-prev:hover{opacity: 0.7; transition: opacity 300ms;}
.event-sec .event-swiper { margin-top: 16px; overflow: hidden; }
.event-sec .event-slide{ width: 290px; cursor: pointer;}
.event-content-wrap .event-img {position: relative; border-radius: 6px; background-color: #fff; aspect-ratio: 29 / 18; box-shadow: 0 3px 3px rgba(0, 0, 0, .06); overflow: hidden;}
.event-content-wrap .event-img .state{position: absolute; top: 10px; left: 10px; display: inline-block; padding: 3px 6px; border-radius: 2px; font-size: 12px; font-weight: 600; color: #fff; line-height: 1;}
.event-content-wrap .event-img .state.ing{background-color: #F8AC99; }
.event-content-wrap .event-img .state.end{background-color: #8b8b8b; }
.event-content-wrap .event-tit {display: inline-block; margin: 18px 0 14px; font-size: 18px; font-weight: 700; color: #444;}
.event-content-wrap .event-content li { display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap: 14px; margin-bottom: 10px; font-size: 14px; font-weight: 600; color: #777;}
.event-content-wrap .event-content li:last-child {margin-bottom: 27px;}
.event-content-wrap .event-content li .sub-tit {display: inline-block; width: 48px;}
.event-content-wrap .event-content li .mid-line{ display: inline-block; width: 1px; height: 8px; background-color: #ddd;}

