@charset "utf-8";

/* Info
   ========================================================================== */
/**
 * 1. Writer: Hyerin Lim. (Weaverloft Corp.)
 * 2. Production Date: 2023-06-12
 * 3. Client: Weaverloft UX
 */

/*========== Common ==========*/
/* .home-section-wrap {display: flex; flex-flow: row wrap; justify-content: space-between; align-items: flex-start;}
.home-section-wrap .left { width: 920px; }
.home-section-wrap .right { width: 390px; }
.home-sec { width: 100%; margin-bottom: 20px; padding: 16px 20px 20px; border-radius: 6px; border: 1px solid var(--sub-color01); background-color: #fff; }
.half-sec-wrap{ display: flex; flex-flow: row nowrap; align-items: stretch; justify-content: space-between; gap: 20px; }
.home-sec div, .home-sec a, .home-sec p{color: #555;}
@media screen and (max-width: 1614px){
   .home-section-wrap .left{ width: 68%; }
   .home-section-wrap .right{ width: 31%; }
} */

/*========== Menu list ==========*/
.set-menu-list {
	background: #fff;
	width: 250px;
	padding: 10px;
	overflow-x: hidden;
}
.set-menu-list ul li a{
	position: relative;
	display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
	padding: 12px 15px;
	font-size: 15px;
	color: #555;
	transition: all 0.15s;
	border-radius: 3px;
}
.set-menu-list ul li a img{
   width: 18px;
   height: 18px;
   transform: rotate(-90deg);
}
.set-menu-list ul li.active > a img{
   transform: rotate(0);
}
.set-menu-list .depth1 > li > .depth2 > li > a::before{
   position: absolute;
   top: 10px; left: 0;
   display: block;
   content: '-';
   font-size: 18px;
   color: #555;
}
.set-menu-list .depth1 > li > .depth2 > li > .depth3 > li > a::before{
   position: absolute;
   top: 12px; left: -2px;
   display: block;
   content: 'ã„´';
   font-size: 14px;
   color: #555;
}
.set-menu-list .depth1 > li.active > a{
	background-color: var(--point-color03);
   color: #fff;
}
.set-menu-list .depth1 > li.active > a > img{
   filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(2%) hue-rotate(242deg) brightness(109%) contrast(100%);
}
.set-menu-list .depth1 > li > .depth2 > li.active > a,
.set-menu-list .depth1 > li > .depth2 > li > .depth3 > li.active > a{
   font-weight: 700;
   color: var(--point-color01);
}
.set-menu-list .depth1 > li > .depth2 > li.active > a > img,
.set-menu-list .depth1 > li > .depth2 > li > .depth3 > li.active > a > img{
   filter: brightness(0) saturate(100%) invert(46%) sepia(22%) saturate(1241%) hue-rotate(213deg) brightness(95%) contrast(91%);
}
.set-menu-list .depth1 > li > .depth2 > li.active > a::before,
.set-menu-list .depth1 > li > .depth2 > li > .depth3 > li.active > a::before{
   color: var(--point-color01);
}
.set-menu-list .depth1 > li > .depth2 > li.active > a,
.set-menu-list .depth1 > li > .depth2 > li > .depth3 > li.active > a{
   font-weight: 700;
   color: var(--point-color01);
}
.set-menu-list .depth1 > li > .depth2 , 
.set-menu-list .depth1 > li > .depth2 > li > .depth3 {
	display: none;
}
.set-menu-list .depth1 > li.active > ul.show-dropdown,
.set-menu-list .depth1 > li > .depth2 > li.active > ul.show-dropdown{
	display: block;
}
.set-menu-list .depth1 > li > .depth2,
.set-menu-list .depth1 > li > .depth2 > li > .depth3{
	padding-left: 16px;
}