@charset "utf-8";

/* Info
   ========================================================================== */
/**
 * 1. Writer: Hyerin Lim. (Weaverloft Corp.)
 * 2. Production Date: 2023-03-20
 * 3. Client: Weaverloft UX
 */

/*========== Import ==========*/
@import url("reset.css");
@import url("layout.css");

/*========== Font ==========*/
@import url('../fonts/pretendard.css');

:root {
	/* color */
	--main-color: #333;
	--sub-color01: #666;
	--sub-color02: #999;
	--sub-color03: #aaa;
	--sub-color04: #ddd;
	--sub-color05: #ccc;
	--detault-color: #333;
	--point-color:  #385CE2;
	--white-color: #fff;
	--checked-color: #5C7DFF;
	--error-color: #FC5050;
	/* font-size */
	--title-size: 28px;
	--main-text-size: 16px;
	--sub-text-size: 15px;
	--medium-text-size: 14px;
	--small-text-size: 12px;
	--small-text-size2: 10px;
}
/* Mobile */
@media screen and (max-width: 768px){
	:root {
		/* font-size */
		--title-size: 22px;
		--main-text-size: 14px;
	}
}

/*========== Skeleton ==========*/
.skeleton-box{
	position: relative;
}
.skeleton-box .skeleton-loading {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-image: url('../../img/skeleton_bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.skeleton-box .skeleton-loading::after{
	background: #fff;
	content: "";
	height: 520px;
	left: -100px;
	opacity: .4;
	position: absolute;
	top: -80px;
	transform: rotate(35deg);
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
	filter: blur(10px);
	width: 50px;
	z-index: -10;
	animation: loading 1s infinite;
}
@keyframes loading {
	100% {
		left: 100%;
	}
}

.skeleton-img-box{
	position: relative;
}
.skeleton-img-box .skeleton-loading{
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.skeleton-img-box .skeleton-loading {
	background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
	border-radius: 5px;
	background-size: 200% 100%;
	background-position: 100% 0;
	animation: load 1.5s infinite;
}
@keyframes load {
	100% {
		background-position: -100% 0;
	}
}

/*========== Custom Design ==========*/
.input-box-wrap {
	display: flex;
	flex-flow: column;
	width: 100%;
}
.input-box-wrap.nowrap {
	flex-flow: row nowrap;
	align-items: center;
}
.input-box{
	position: relative;
	width: 100%;
}
/* Input */
.input-box input{
	width: 100%;
	height: 43px;
	padding: 11px 14px;
	border: 1px solid var(--sub-color05);
	border-radius: 2px;
	font-size: var(--main-text-size);
}
.input-box input::placeholder{
	font-size: var(--main-text-size);
	color: var(--sub-color03);
}

/* Input - Animation */
.input-box input~.border-focus:before,
.input-box input~.border-focus:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--point-color);
	transition: 0.3s;
}
.input-box input~.border-focus:after {
	top: auto; bottom: 0; left: auto; right: 0;
}
.input-box input~.border-focus i:before,
.input-box input~.border-focus i:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 0;
	background-color: var(--point-color);
	transition: 0.4s;
}
.input-box input~.border-focus i:after {
	left: auto; right: 0; top: auto; bottom: 0;
}
.input-box input:focus~.border-focus:before,
.input-box input:focus~.border-focus:after,
.input-box input~.border-focus.on:before,
.input-box input~.border-focus.on:after {
	width: 100%;
	transition: 0.3s;
}
.input-box input:focus~.border-focus i:before,
.input-box input:focus~.border-focus i:after,
.input-box input~.border-focus.on i:before,
.input-box input~.border-focus.on i:after {
	height: 100%;
	transition: 0.4s;
}

/* Input - line Animation */
.input-box.line input{
	border: none;
	border-bottom: 1px solid var(--sub-color03);
	border-radius: 0;
}
.input-box.line .line-focus{
	position: absolute;
    bottom: 0;
    left: 0;
	display: inline-block;
    width: 0;
    height: 1px;
    background-color: var(--point-color);
    transition: width 0.4s;
}
.input-box.line input:focus ~ .line-focus,
.input-box.line input ~ .line-focus.on{
	width: 100%;
    transition: width 0.4s;
}
/* Input - password */
.input-box.password .eye-btn {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 30px;
	height: 30px;
	background-image: url('../img/icon-eye-g.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.input-box.password .eye-btn.open {
	background-image: url('../img/icon-eye.svg');
}
/* input Radio */
.basic-radio-box{
	display: inline-block;
	margin-right: 12px;
}
.basic-radio-box:last-child{
	margin: 0;
}
.basic-radio-box input[type="radio"] {
	display:none;
}
.basic-radio-box input[type="radio"] + label {
	display: inline-block;
	margin: 0 auto;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
}
.basic-radio-box input[type="radio"] + label span{
	padding: 0 0 0 24px;
}
.basic-radio-box.table input[type="radio"] + label span{
	padding: 0 0 0 16px;
}
.basic-radio-box input[type="radio"] + label::before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	width:16px;
	height:16px;
	border:1px solid var(--sub-color05);
	border-radius: 50%;
	transform: translate(0, -50%);
	box-sizing: border-box;
}
.basic-radio-box input[type="radio"] + label::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	width:10px;
	height:10px;
	transform: translate(50%, -50%);
	box-sizing: border-box;
}
.basic-radio-box input[type="radio"]:checked + label::before {
	width: 16px;
	height: 16px;
	border: 1px solid var(--sub-color05);
	border-radius:50%;
	vertical-align:middle;
}
.basic-radio-box input[type="radio"]:checked + label::after {
	width: 8px;
	height: 8px;
	background-color: var(--detault-color);
	border: 1px solid var(--detault-color);
	border-radius:50%;
	vertical-align:middle;
}
.basic-radio-box.disabled input[type="radio"] + label {
	cursor: default;
}
.basic-radio-box.disabled input[type="radio"] + label::before {
	background-color: #f2f2f2;
	border: 1px solid #bbb;
}
.basic-radio-box.disabled input[type="radio"]:checked + label::after, .basic-radio-box.disabled input[type="radio"][checked] + label::after {
	background-color: #bbb;
	border: 1px solid #bbb;
}

/* input Checkbox */
input[type="checkbox"] + label{
	cursor: pointer;
}
.basic-check-box input[type="checkbox"] { 
	display: none;
}
.basic-check-box input[type="checkbox"] + label { 
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}
.basic-check-box input[type="checkbox"] + label:hover{
	opacity: 0.8;
}
.basic-check-box input[type="checkbox"] + label::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 8px 0 0;
	border: 1px solid var(--sub-color05);
	border-radius: 2px;
	box-sizing: border-box;
	vertical-align: middle;
	transform: translateY(-1px);
	cursor: pointer;
}
.basic-check-box input[type="checkbox"]:checked + label::before {
	border: 1px solid var(--detault-color);
	background-color: var(--detault-color);
	background-image: url("../img/icon-chk-on.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
}
.basic-check-box.disabled input[type="checkbox"] + label{
	cursor: default;
}
.basic-check-box.disabled input[type="checkbox"] + label::before{
	border: 1px solid #ccc;
	background-color: #ccc;
	cursor: default;
}
.basic-check-box.disabled input[type="checkbox"] + label:hover{
	opacity: 1;
}

/* input Switch */
.basic-switch .checkbox-switch{
	position: relative;
	width: 32px;
	height: 16px;
	margin: 0;
	border-radius: 8px;
	background-color: var(--sub-color04);
	cursor: pointer;
}
.basic-switch .checkbox-switch::after{
    transition: all 100ms ease-out;
}
.basic-switch .checkbox-switch::after{
	content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 16px;
    height: 16px;
	border: 2px solid var(--sub-color04);
    border-radius: 50%;
    background-color: #fff;
}
.basic-switch .checkbox-switch:checked{
    background-color: var(--main-color);
}
.basic-switch .checkbox-switch:checked::after{
	left: 16px;
	border: 2px solid var(--main-color);
}
.basic-switch.disabled .checkbox-switch{
	cursor: default;
}
.basic-switch .checkbox-switch:hover{
	opacity: 0.8;
}
.basic-switch .checkbox-switch:hover::after{
	border: 2px solid var(--sub-color03);
}
.basic-switch.disabled .checkbox-switch:hover{
	opacity: 1;
}
.basic-switch.disabled .checkbox-switch:hover::after{
	border: 2px solid var(--sub-color04);
}

/* Select */
.basic-select-box {
	position: relative;
	width: 100%;
}
.basic-select-box select{
	width: 100%;
	min-width: 70px;
	height: 43px;
	padding: 11px 36px 11px 14px;
	border: 1px solid var(--sub-color05); 
	border-radius: 2px;
	background-image: url("../img/select-arrow-g.svg"); 
	background-repeat: no-repeat;
	background-position: calc(100% - 7px) center;
	background-size: 30px 30px; 
	font-size: var(--main-text-size);
	color: var(--sub-color01);
}
/* Select - Animation */
.basic-select-box select~.border-focus:before,
.basic-select-box select~.border-focus:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--point-color);
	transition: 0.3s;
}
.basic-select-box select~.border-focus:after {
	top: auto; bottom: 0; left: auto; right: 0;
}
.basic-select-box select~.border-focus i:before,
.basic-select-box select~.border-focus i:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 0;
	background-color: var(--point-color);
	transition: 0.4s;
}
.basic-select-box select~.border-focus i:after {
	left: auto; right: 0; top: auto; bottom: 0;
}
.basic-select-box select:focus~.border-focus:before,
.basic-select-box select:focus~.border-focus:after {
	width: 100%;
	transition: 0.3s;
}
.basic-select-box select:focus~.border-focus i:before,
.basic-select-box select:focus~.border-focus i:after {
	height: 100%;
	transition: 0.4s;
}

/* textarea */
.textarea-box{ 
	position: relative;
}
.textarea-box textarea{
	display: block;
	width: 100%;
	padding: 11px 14px;
	border: 1px solid var(--sub-color05);
	border-radius: 2px;
	font-size: var(--main-text-size);
}

/* textarea - Animation */
.textarea-box textarea~.border-focus:before,
.textarea-box textarea~.border-focus:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--point-color);
	transition: 0.3s;
}
.textarea-box textarea~.border-focus:after {
	top: auto; bottom: 0; left: auto; right: 0;
}
.textarea-box textarea~.border-focus i:before,
.textarea-box textarea~.border-focus i:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 0;
	background-color: var(--point-color);
	transition: 0.4s;
}
.textarea-box textarea~.border-focus i:after {
	left: auto; right: 0; top: auto; bottom: 0;
}
.textarea-box textarea:focus~.border-focus:before,
.textarea-box textarea:focus~.border-focus:after {
	width: 100%;
	transition: 0.3s;
}
.textarea-box textarea:focus~.border-focus i:before,
.textarea-box textarea:focus~.border-focus i:after {
	height: 100%;
	transition: 0.4s;
}

/* Select Custom */
.custom-select-box {
	position: relative;
	width: 100%;
}
.custom-select-box ul { 
	position: relative;
    width: 100%;
    min-width: 70px;
    height: 43px;
    border-radius: 2px;
    background-image: url('../img/select-arrow-g.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) center;
    background-size: 30px 30px;
    font-size: var(--main-text-size);
    color: var(--sub-color03);
}
.custom-select-box ul.open{
    background-image: url('../img/select-arrow-up-g.svg');
}
.custom-select-box ul.sel{
	color: #333;
}
.custom-select-box ul li.init { 
    border-radius: 2px;
	border: 1px solid var(--sub-color05); 
	cursor: pointer; 
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.custom-select-box ul.open li.init { 
	border: 1px solid #666; 
	border-bottom: 0;
	cursor: pointer; 
}
.custom-select-box ul li {
    padding: 11px 36px 11px 14px;
	z-index: 2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-use-select: none;
	user-select: none;
}
.custom-select-box ul.open li{
	border-left: 1px solid #666; 
	border-right: 1px solid #666; 
}
.custom-select-box ul.open li:last-child{
	border-bottom: 1px solid #666;
}
.custom-select-box ul li:not(.init) { 
    position: relative;
    /* padding: 10px; */
    width: 100%;
    display: none;
    background: #fff;
    color: #333;
	cursor: default;
}
.custom-select-box ul li:not(.init)::before{
	position: absolute;
	top: 0; left: 0; right: 0;
	margin: 0 auto;
	content: '';
	width: calc(100% - 28px);
	height: 1px;
	background-color: #eee;
}
.custom-select-box ul li:not(.init):hover, .custom-select-box ul li.selected:not(.init) {
	color: var(--point-color); 
}
.custom-select-box ul li.disabled {
	color: #ccc;
	pointer-events: none;
}

/*========== modalPopup ==========*/
.modal {
	visibility: hidden;
	opacity: 0;
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 150;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 300ms 200ms;
}
.modal.open {
	visibility: visible;
	opacity: 1;
	transition: 300ms;
}
.modal-wrap {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 1000px;
	max-height: 90vh;
	margin-top: -15px;
	padding: 15px;
	box-sizing: border-box;
	transform: translate(-50%, -55%);
	transition: all 300ms;
}
.modal.open .modal-wrap {
	opacity: 1;
	margin-top: 0;
	transition: 300ms 200ms;
}
.modal-content {
	position: relative;
	overflow: hidden;
	width: 100%;
	max-height: 80vh;
	background-color: #fff;
	border-radius: 5px;
}
.modal-tit {
	padding: 20px 40px 20px 20px;
	font-size: 18px;
	font-weight: 700;
	color: #111;
}
.modal-cont-wrap {
    overflow: hidden;
    overflow-y: auto;
    max-height: 60vh;
	padding: 20px;
	background-color: #f5f5f5;
    line-height: 1.4;
    word-break: keep-all;
}
.modal-cont-wrap::-webkit-scrollbar{
    width: 10px;
}
.modal-cont-wrap::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;    
    background-clip: padding-box;
    border: 3px solid transparent;
}
.modal-cont-wrap::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
}
.modal-close-btn {
	position: absolute;
	top: 10px;
	right: 12px;
}
.modal-close-btn a {
	opacity: 1;
	display: block;
	width: 40px;
	height: 40px;
	background-image: url("../img/icon-close.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 18px 18px;
	text-indent: -9999px;
	transition: opacity 300ms;
}
.modal-close-btn a:hover {
	opacity: 0.7;
}

/*========== msgPopup ==========*/
.modal.msg {
	z-index: 151;
}
.msg .modal-wrap {
	width: 100%;
	max-width: 360px;
	max-height: 60vh;
}
.msg .modal-content {
	max-width: 360px;
	margin: 0 auto;
	padding: 36px 30px 26px;
}
.msg.msg-con .modal-wrap {
	max-width: 400px;
}
.msg.msg-con .modal-content {
	max-width: 400px;
}
.modal-msg-wrap p {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
	color: #333;
	text-align: center;
	word-break: keep-all;
}
.modal-msg-wrap p:nth-child(2) {
	margin: 18px 0;
}
.modal-msg-wrap .msg-tit {
	font-size: 15px;
	font-weight: 700;
	color: #111;
}
.modal-msg-btn-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 18px;
}
.modal-msg-btn-wrap.select {
	justify-content: space-between;
	gap: 2%;
}
.modal-msg-btn-wrap .common-btn {
	width: 45%;
	padding: 8px 10px;
	border-radius: 2px;
	border: 1px solid #ddd;
	text-align: center;
	line-height: 1.2;
}
.modal-msg-btn-wrap.select .common-btn {
	width: 48%;
	min-width: inherit;
}

/*========== Tab Menu ==========*/
.tab-menu{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-end;
}
.tab-menu li{
	width: 200px;
}
.tab-menu li.slider{
	position: absolute;
	z-index: 2;
	bottom: 0;
	display: inline-block;
	height: 2px;
	/* background-color: var(--point-color); */
	background-color: #333;
	transition: left .3s linear;
}
.tab-menu li.tab-link {
	border-bottom: 2px solid var(--sub-color04);;
}
.tab-menu li.tab-link a{
	display: block;
	padding: 12px 0;
	font-size: var(--main-text-size);
	font-weight: 700;
	line-height: 1;
	text-align: center;
	color: var(--sub-color02);
	-webkit-user-drag: none;
	transition: color 300ms;
}
.tab-menu li.tab-link a:hover{
	color:  var(--main-color);
	transition: color 300ms;
}
.tab-menu li.tab-link.current a{
	color:  var(--main-color);
	transition: color 300ms;
}
.tab-content-wrap .tab-content{
	display: none;
}
.tab-content-wrap .tab-content.current{
	display: block;
}

/* tab-menu02 */
.tab-menu.tab-menu02 li{
	width: 400px;
}
.tab-menu.tab-menu02 li.tab-link{
	border-top: 1px solid var(--sub-color05);
	border-bottom: 2px solid var(--main-color);
	border-left: 1px solid var(--sub-color05);
}
.tab-menu.tab-menu02 li.tab-link:last-child{border-right: 1px solid var(--sub-color05);}
.tab-menu.tab-menu02 li.tab-link.current{
	border: 2px solid var(--main-color);
	border-bottom: 1px solid transparent;
}
.tab-menu.tab-menu02 li.tab-link.current + li{border-left: none;}
.tab-menu.tab-menu02 li.tab-link a{
	padding: 18px 0;
	font-size: 20px;
}
.tab-menu.tab-menu02 li.tab-link a .tab-bubble{
	display: inline-block;
	height: 24px;
	margin-left: 12px;
	padding: 5px 8px;
	border-radius: 12px;
	background-color: #E9EEFF;
	font-weight: 500;
	font-size: 14px;
	color: var(--point-color);
	transform: translateY(-2px);
}

/*========== Common Btn ==========*/
.common-btn, .input-box input.common-btn{
	display: inline-block;
	min-width: 90px;
	height: auto;
	padding: 13px 16px;
	background-color: var(--detault-color);
	border: 1px solid transparent;
	border-radius: 2px;
	font-size: var(--sub-text-size);
	color: #fff;
	text-align: center;
	line-height: 1;
	white-space: nowrap;
	box-sizing: border-box;
	cursor: pointer;
	transition: background-color 300ms, opacity 300ms;
}
.common-btn span{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
}
.common-btn.disabled, .input-box input:disabled{
	background-color: #F7F8FA;
	color: #B8B8B8;
	cursor: default;
	pointer-events: none; 
}
.common-btn:hover{
	opacity: 0.8;
}

/*========== Pagination ==========*/
.pagination-wrap {
	display: flex; align-items: center; justify-content: center;
}
.pagination-btn {
	opacity: 1;
	width: 26px;
	height: 26px;
	border: 1px solid transparent;
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 300ms;
}
.pagination-btn:hover {
	border-color: #aaa;
	opacity: 0.6;
	transition: all 300ms;
}
.pagination-btn.first, .pagination-btn.last {
	width: 26px;
	height: 26px;
}
.pagination-btn.first {
	margin-right: 2px;
	background-image: url("../img/icon-pagination-double-arrow.svg");
}
.pagination-btn.last {
	margin-left: 2px;
	background-image: url("../img/icon-pagination-double-arrow.svg");
	transform: rotate(180deg);
}
.pagination-btn.prev {
	background-image: url("../img/icon-pagination-arrow.svg");
}
.pagination-btn.next {
	background-image: url("../img/icon-pagination-arrow.svg");
	transform: rotate(180deg);
}
.pagination-list {
	width: auto;
	margin: 0 5px;
}
.pagination-list li {
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	margin: 0 4px;
}
.pagination-list li button {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: 500;
	color: #aaa;
	transition: all 300ms;
}
.pagination-list li.current button {
	color: #333;
	text-decoration: underline;
}
.pagination-list li:hover button {
	opacity: 0.7;
}
.pagination-list li.current:hover button {
	opacity: 0.9;
}

/*========== Upload File ==========*/
.upload-file{
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
}
.upload-file input[type="file"] {
	display: none;
}
.file-list {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
	width: calc(100% - 160px);
	margin: 0 0 0 20px;
	border-radius: 2px;
	background: #fff;
	font-size: 14px;
	vertical-align: middle;
	box-sizing: border-box;
}
.file-list .file p {
	display: inline-block;
	max-width: 98%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}
.file-list .file-remove {
	margin: 0 0 0 4px;
	font-size: 13px;
	color: #56616d;
	transform: translateY(-4px);
}

/*========== Star ==========*/
.star-wrap{
	display: flex;
	flex-direction: column;
}
.star-wrap .star{
	display: inline-block;
	width: 80px;
	height: 16px;
	background-image: url('../img/star.svg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	overflow: hidden;
}
.star-wrap .star.one{
	background-position: 0 -76px;
}
.star-wrap .star.two{
	background-position: 0 -57px;
}
.star-wrap .star.three{
	background-position: 0 -38px;
}
.star-wrap .star.four{
	background-position: 0 -19px;
}
.star-wrap .star.five{
	background-position: 0 0;
}

/*========== Review-graph ==========*/
/* .review-graph */
.review-graph li{
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--sub-color03);
}
.review-graph li + li{
	margin-top: 12px;
}
.review-graph li:first-child{
	font-weight: 700;
	color: var(--main-color);
}
.review-graph .review-graph-grade{
	width: 55px;
}
.review-graph .review-graph-bar{
	position: relative;
	width: 270px;
	height: 8px;
	margin-right: 22px;
	border-radius: 4px;
	background-color: #eee;
}
.review-graph .review-graph-bar::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 8px;
	border-radius: 4px;
	background-color: var(--point-color);
}
.review-graph li:nth-child(1) .review-graph-bar::after{
	width: 72%;
}
.review-graph li:nth-child(2) .review-graph-bar::after{
	width: 20%;
}
.review-graph li:nth-child(3) .review-graph-bar::after{
	width: 8%;
}

/*========== Tooltip ==========*/
.component-sec11 a{margin: 10px;}
.tooltip-basic{
	display: inline-block; 
	position: relative;
	padding: 7px 16px; 
	border-radius: 2px; 
	background-color: var(--point-color);
	transition: all 0.3s;
}
.tooltip-text{
	font-size: 14px; 
	line-height: 16px; 
	color: #fff;
}
.tooltip-basic.arrow{padding-right: 35px;}
.tooltip-basic.arrow .tooltip-text::after{
	content: ""; 
	position: absolute; 
	top: 50%; 
	right: 12px; 
	width: 18px; 
	height: 18px; 
	background: var(--point-color) url("../img/icon-detail-arrow-w.svg") no-repeat center center; 
	transform: translateY(-50%) rotate(-90deg);
	transition: all 0.3s;
}
.tooltip-basic::before{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: url("../img/icon-tooltip.svg") no-repeat center center;
}
.tooltip-basic.bottom::before{
	bottom: -7px;
	left: 50%;
	transform: translateX(-50%);
}
.tooltip-basic.left::before{
	top: 50%;
	left: -7px;
	transform: translateY(-50%) rotate(90deg);
}
.tooltip-basic.top::before{
	top: -7px;
	left: 50%;
	transform: translateX(-50%) rotate(180deg);
}
.tooltip-basic.right::before{
	top: 50%;
	right: -7px;
	transform: translateY(-50%) rotate(-90deg);
}
.tooltip-basic:hover{
	opacity: 0.8;
}
.tooltip-basic.arrow:hover .tooltip-text::after{
	right: 9px;
}
/*========== Grid 테이블 공통 스타일 ==========*/
/* 필수항목표시 */
.required { position: relative; }
.required::before { position: absolute; content: ''; width: 6px; height: 6px; background-image: url("../../img/admin/icon-required.svg"); background-repeat: no-repeat; background-size: 6px auto; transform: translate(-7px, 0px); }