@charset "utf-8";

/*============================== Common ==============================*/
html {
    font-size: 16px;
}

/*============================== Top-Banner ==============================*/
.top-banner {
    width: 100%; height: 32px; 
    background: #000;
}
.top-banner .inner {
    width: 80%; height: 100%; 
    margin: 0 auto; 
    position: relative;
}
.top-banner .inner a {
    width: 100%; 
    display: block; 
    position: absolute; left: 0; top: 50%; transform: translateY(-50%); 
    text-align: center; color: #fff;
}

/*============================== Header ==============================*/
header {
    width: 100%; height: 80px; 
    display: flex; justify-content: space-between; 
    position: relative; 
    padding: 0 3%; box-sizing: border-box; 
    background: #fff;
}
/*========== Menu ==========*/
.menu {
    width: 100%; 
    position: absolute; left: 0; top: 80px; 
    padding-top: 3%; padding-bottom: 3%; 
    background: #fff; 
    border: 1px solid #ddd;
    z-index: -1;
    opacity: 0; transform: translateY(-300px); transition: all 0.3s;
}
.menu-list {
    width: 70%; 
    display: flex; justify-content: space-between; 
    margin: 0 auto;
}
.menu-depth1:last-child {
    width: 25%; 
    padding-left: 2%; 
    border-left: 1px solid #ddd;
}
.menu-depth1 > a {
    font-weight: 800;
}
.menu-sub-list {
    margin-top: 20%;
}
.menu-depth1:last-child .menu-sub-list {
    width: 80%; 
    display: flex; flex-wrap: wrap;
    margin-top: 3%;
}
.menu-depth2 a {
    line-height: 1.8; font-size: 0.92rem; color: #777;
}
.menu-depth1:last-child .menu-depth2 {
    width: 40%;
}
    /* menu버튼 클릭 시 menu 오픈 이벤트 */
    .menu.on {
        opacity: 1; transform: translateY(0); transition: all 0.3s;
    }
    .menu.on ~ .nav-center .depth1:hover .nav-sub-list, 
    .menu.on ~ .nav-right .depth1:hover .nav-sub-list,
    .menu-btn.on .menu-open {
        display: none;
    }
    .menu-btn.on .menu-close {
        display: block;
    }
/*========== Nav-Left ==========*/
.nav-left {
    width: 350px; 
    display: flex;
}
.menu-btn {
    width: 20%; height: 100%;
    display: block; 
    position: relative; 
    cursor: pointer;
}
.menu-btn span {
    width: auto; height: 100%;
    position: absolute; left: 0; top:0; 
    font-size: 52px;
}
.menu-close {
    display: none;
    padding-top: 6px;
    font-size: 42px; 
}
.header-logo {
    width: 80%; height: 100%;
    display: block; 
    position: relative;
}
.header-logo a {
    height: 50%;
    position: absolute; left: 0; top:50%; transform: translateY(-50%);
}
.header-logo a img {
    height: 100%;
    display: block; 
}

/*========== Nav-Center, Right ==========*/
.nav-center {
    width: 58%; max-width: 950px; 
    position: relative;
}
.nav-right {
    width: 360px; 
    position: relative;
}
.nav-list {
    width: 90%; height: 100%; 
    display: flex; justify-content: space-between; 
    position: absolute; left: 0; top: 0;
}
.depth1 {
    width: 100%; 
    position: relative;
    line-height: 80px; 
}
.depth1:nth-child(1)::before, .depth1:nth-child(7)::before {
    content: ''; 
    width: 1px; height: 20%;
    position: absolute; top: 50%; right: 0; transform: translateY(-50%);
    background: #ddd; 
}
.depth1 > a {
    width: 100%; height: 100%;
    display: block; 
    text-align: center;
}
.nav-right .depth1 a {
    font-size: 0.92rem; color: #777;
}
.nav-sub-list {
    width: 180%;
    display: none; 
    position: absolute; top: 80px; left: 0; 
    padding: 20% 0 20% 35%; 
    border: 1px solid #ddd; 
    background: #fff;
}
    /* hover시 서브리스트 오픈 */
    .depth1:hover .nav-sub-list {
        display: block;
    }
.nav-sub-list .depth2 {
    text-align: left; line-height: 1.8;
}
.nav-right .nav-sub-list {
    left: initial; right: -10%;
}
.nav-right .depth1:nth-child(3) > .search-btn {
    width: 100%;
    display: block; 
    text-align: center; line-height: 80px;
}

/*========== Nav-Right-Search ==========*/
.search-box-wrap {
    width: 700px; height: 500px;
    position: absolute; right: -10%; top: 10%;
    display: none;
    border: 2px solid #000; 
    background: #fff;
    z-index: 2; 
    padding: 3%; 
    
}
.search-box-under {
    position: relative;
    display: flex; justify-content: space-between; 
    border-top: 2px solid #000;
}
.search-box-under-list {
    width: 35%; 
    margin: 0 auto;
}
.search-box-under-list a {
    display: block; 
    line-height: 1.8;
}
.search-box-wrap.on {
    display: block;
}
.num {
    color: #222; font-weight: 600;
}
.search-best a:nth-child(-n+4) .num {
    color: red;
}
.search-close-btn {
    display: inline-block; 
    position: absolute; top: 5%; right: 4%; 
    font-size: 32px;
}
.input-box {
    display: flex;
    justify-content: space-between;
    padding-left: 5%; box-sizing: border-box;
}
#search {
    width: 90%;
    height: 55px;
    display: inline-block;
    border: none;
}
.input-box .search-btn {
    width: 10%;
}