@charset "utf-8";

/* Info
   ========================================================================== */
/**
 * 1. Writer: Jiyeon Song. (Weaverloft Corp.)
 * 2. Production Date: 2023-04-06
   3. Last Updated Date: 2023-04-10
 * 4. Client: Weaverloft UX
 */

/*========== Common ==========*/
#container {position: relative;}
.inner {max-width: 1240px; margin: 0 auto;}
.mo {display: none;}
.test {width: 100%; height: 120vh;}

/*========== Top Banner ==========*/
.top-banner {position: relative; width: 100%; background-color: var(--main-color);}
.top-banner .inner {display: flex; flex-flow: row nowrap; width: 90%; height: 40px; margin: 0 auto; align-items: center; }
.top-banner .inner .desc {width: 100%; height: 100%; }
.top-banner .inner .desc a {height: 100%; line-height: 40px; font-size: var(--placeholder-text-size); text-align: center; color: var(--sub-color04);}
.top-banner .inner .close-btn {position: absolute; top: 0; right: 30px; width: 40px; height: 40px;}
.top-banner .inner .close-btn svg{display: inline-block; width: 12px; fill: var(--white-color);}

/*========== Header ==========*/
/* top-area */
#header {width: 100%; border-bottom: 1px solid var(--sub-color04); background-color: var(--white-color); }
#header .top-area {display: flex; flex-flow: row nowrap; justify-content: space-between; padding: 20px 0; transition: padding 300ms;}
#header .top-area .my-menu .my-menu-list {display: flex; flex-flow: row nowrap; margin: 0 -10px 0 0; align-items: center; }
#header .top-area .my-menu .my-menu-list li a {position: relative; padding: 10px; font-size: var(--placeholder-text-size); color: var(--sub-color01); transition: color 300ms;}
#header .top-area .my-menu .my-menu-list li a:hover {color: var(--main-color);}
#header .top-area .my-menu .my-menu-list li a::after {position: absolute; top: 50%; right: 0; transform: translateY(-50%); width: 1px; height: 25%; background: var(--sub-color04); content: '';}
#header .top-area .my-menu .my-menu-list li:last-child a:after {display: none;}
#header .top-area .header-logo {align-self: center; width: 132px; transition: width 300ms;}
/* nav-area */
#header .nav-area {display: flex; flex-flow: row nowrap; justify-content: space-between; position: relative;  align-items: center; padding: 0 0 10px;}
#header .nav-area .header-logo.scroll {display: none; width: 32px; height: 32px; }
#header .nav-area .nav-category-wrap {display: flex; flex-flow: row nowrap; align-items: center; }
/* menu-trigger */
#header .nav-area .menu-trigger {display: block; transform: translateX(-3px); width: 40px; height: 40px;  background-image: url("../img/icon-burger.svg"); background-size: 28px auto; background-position: center center; background-repeat: no-repeat;}
/* category-menu */
.category-menu .category-list {display: flex; flex-flow: row nowrap; align-items: center;}
.category-menu .category-list .category-link a {width: 90px; height: 60px; line-height: 60px; text-align: center; font-weight: var(--bold-weight); transition: width 300ms;}
.category-menu .category-list .category-link a:hover {color: var(--point-color); transition: width 300ms;}

/* util-menu */
.util-menu .util-list {display: flex; flex-flow: row nowrap; align-items: center;}
.util-menu .util-list .util-link {margin: 0 0 0 15px;}
.util-menu .util-list .util-link:first-child {display: flex; flex-flow: row nowrap;}
.util-menu .util-list .util-link:first-child .input-box {position: relative; height: 28px;}
.util-menu .util-list .util-link:first-child .input-box input {height: 100%; border: none; border-bottom: 1px solid var(--main-color); border-radius: 0;}
.util-menu .util-list .util-link:first-child .input-box input ~ .focus-border {position: absolute; bottom: 0; left: 0; width: 0; height: 1.5px; background-color: var(--point-color); transition: width 0.4s;}
.util-menu .util-list .util-link:first-child .input-box input:focus ~ .focus-border {width: 100%; transition: width 0.4s;}
.util-menu .util-list .util-link button {display: block; width: 28px; height: 28px;}
.util-menu .util-list .util-link button svg {display: inline-block; width: 24px; fill: var(--main-color); vertical-align: middle; transition: fill 300ms;}
.util-menu .util-list .util-link button:hover svg {fill: var(--point-color);}
/* fix header */
#header.fixed {position: fixed; top: 0; z-index: 3;}
#header.fixed .top-area {display: none;}
#header.fixed .nav-area {padding: 15px 0;}
#header.fixed ~ #main {padding: 145px 0 0 0;}
#header.fixed .nav-area .header-logo.scroll {display: block;}
#header.fixed .nav-area .menu-trigger {margin: 0 0 0 2vw; transition: margin 0.3s;}

/*========== Side Menu ==========*/
#side-header {position: fixed; top: 0; bottom: 0; left: -240px; z-index: 1001; width: 240px; min-width: 225px; height: 100%; overflow-x: hidden; overflow-y: auto; background-color: var(--white-color); transition: left 0.4s ease;}
#side-header.show {left: 0; transition: left 0.4s ease;}
#side-header::after {position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1; background-color: rgba(0, 0, 0, 0.1); content: ''; opacity: 0; transition: all 0.4s ease;}
#side-header.show::after {position: fixed; left: 240px; opacity: 1; transition: all 0.4s ease;}
#side-header .side-header-inner {height: 100%;}
#side-header .close-btn-wrap {padding: 10px; text-align: right;}
#side-header .close-btn {width: 40px; height: 40px;}
#side-header .close-btn svg {display: inline-block; width: 20px; fill: var(--sub-color01);}
.side-menu {padding: 10px 30px;}
.side-menu .side-link {margin: 10px 0;}
.side-menu .side-link a {padding: 4px;}
.side-menu .side-link a:hover {color: var(--point-color);}
.side-menu .side-link.on > a {color: var(--point-color);}
.side-sub-list {display: none; padding: 0 16px;}



/*====================== 반응형 ======================*/
@media screen and (max-width: 1280px){
   .inner {margin: 0 20px;}
   .category-menu {left: 35px;}
   .category-menu .category-list .category-link a {width: 6vw; min-width: 52px;}
   .util-menu .util-list .util-link {margin: 0 0 0 1vw;}
   .util-menu .util-list .util-link:first-child {width: 20vw;}
}

@media screen and (max-width: 767px){
   /* 공통 */
   .pc {display: none;}
   .mo {display: block;}
   .inner {width: 90%; margin: 0 auto; overflow-x: hidden;}
   /* 탑배너 -> 하단배너로 변경 */
   .top-banner {position: fixed; bottom: 120px; left: 50%; z-index: 3; transform: translateX(-50%); width: 90%; height: 56px; border-radius: 5px; background: rgba(17, 17, 17, 0.82);}
   .top-banner .inner {width: 90%; height: 100%;}
   .top-banner .inner .desc.mo {line-height: 56px; color: var(--white-color); font-size: var(--small-text-size);}
   .top-banner .inner .desc.mo .common-btn {position: absolute; right: 50px; top: 50%; transform: translateY(-50%); width: 80px; height: 28px; padding: 0; border: none; border-radius: 50px; background: #2A31FF; font-size: var(--small-text-size); color: var(--white-color); line-height: 28px;}
   .top-banner .inner .close-btn {top: 50%; right: 0; transform: translateY(-50%);}
   /* top-area */
   #header {border-bottom: none; box-shadow: 0px 1px 10px 1px var(--sub-color04);}
   #header .top-area {padding: 20px 0 10px;}
   #header .top-area .util-menu.mo {width: 80px;}
   /* nav-area */
   #header .nav-area .menu-trigger.pc {display: none;}
   #header .nav-area .nav-category-wrap {overflow-x: auto;}
   #header .nav-area .nav-category-wrap .category-menu {position: relative; left: 0; right: initial; overflow-x: auto; white-space: nowrap;}
   #header .nav-area .nav-category-wrap .category-menu{-ms-overflow-style:none; scrollbar-width:none;}
   #header .nav-area .nav-category-wrap .category-menu::-webkit-scrollbar {display:none;}
   #header .nav-area .nav-category-wrap .category-menu .category-list .category-link a {display: block; width: auto; min-width: initial; height: auto; padding: 0 3vw 0; font-size: var(--main-text-size); color: var(--sub-color05);}
   #header .nav-area .nav-category-wrap .category-menu .category-list .category-link.on a {position: relative; color: var(--main-color);}
   #header .nav-area .nav-category-wrap .category-menu .category-list .category-link.on a::after {position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 15.5px; height: 2px; background: var(--main-color); content: '';} 
   #header .nav-area .nav-category-wrap .category-menu.fixed {position: absolute; top: 0; left: 0;}
   #header.fixed .nav-area {padding: 10px 0 0;}
   #header.fixed .nav-area .header-logo.scroll {display: none;}
   #header.fixed .nav-area .nav-category-wrap .category-menu {left: 0;}
   /* my-menu */
   .my-menu.mo {position: fixed; bottom: 0; left: 0; z-index: 3; width: 100%; padding: 20px 0 10px; background: var(--white-color); box-shadow: 0px -1px 10px 1px var(--sub-color04);}
   .my-menu.mo .my-menu-list {display: flex; flex-flow: row nowrap; justify-content: space-between; width: 90%; margin: 0 auto; }
   .my-menu.mo .my-menu-list li.on {color: var(--main-color);}
   .my-menu.mo .my-menu-list li a {width: 40px; height: 60px; text-align: center;}
   .my-menu.mo .my-menu-list li a svg {width: 24px; height: 24px; fill: var(--sub-color05);}
   .my-menu.mo .my-menu-list li.on a svg {fill: var(--main-color);}
   .my-menu.mo .my-menu-list li p {margin: 5px 0 0 0; font-size: var(--small-text-size2); color: var(--sub-color05)}
   .my-menu.mo .my-menu-list li.on p {color: var(--main-color);}
   .my-menu.mo .my-menu-list .menu-trigger.mo .img {display: block; width: 40px; height: 24px; background-image: url("../img/icon-burger.svg"); background-size: 28px auto; background-position: center center; background-repeat: no-repeat; opacity: 0.2;}
   .my-menu.mo .my-menu-list li.on .menu-trigger.mo .img {opacity: 1;}
   .my-menu.mo .my-menu-list li:first-child p,
   .my-menu.mo .my-menu-list li:last-child p {margin: 10px 0 0 0; text-align: center;}
   .my-menu.mo .my-menu-list li:last-child a .circle {display: block; width: 24px; height: 24px; margin: 0 auto; border: 1px solid var(--sub-color05); border-radius: 50%;}
}

@media screen and (max-width: 360px){
   .top-banner {height: 80px; transition: height 0.3s;}
   .top-banner .inner .desc.mo {width: 100%; line-height: 48px; text-align: center;}
   .top-banner .inner .desc.mo .common-btn {display: block; position: relative; right: initial; top: initial; transform: none; transform: translateY(-10px); margin: 0 auto;}
}